name: Java CI with Maven

on:
  push:
    branches: [ "main", "solution" ]
  pull_request:
    branches: [ "main", "solution" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: ./mvnw clean verify -Popenai -B

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: battle-contender-jar
        path: target/*.jar
